/* 全体レイアウト */
.left {
  width: 500px;
  position: fixed;
  top: 50px;
  right: 52vw;
}
.right {
  width: 500px;
  margin-left: 52vw;
  padding: 50px 0;
}
section {
  padding-bottom: 20px;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 30px;
}
h2 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
input {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
}
.titleInput {
  width: 300px;
  padding: 2px 4px;
}
.limitInput {
  padding: 2px 4px;
}
textarea {
  width: 300px;
  height: 50px;
  padding: 2px 4px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
}
button {
  padding: 4px 8px;
  border: 1px solid #4285f4;
  border-radius: 4px;
  background-color: #4285f4;
  color: #fff;
}
button:hover {
  background-color: rgba(0,0,0,0);
  color: #4285f4;
}
.btnCenter {
  text-align: center;
}
table {
  margin: 0 auto 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* タスク登録エリア */
.inputArea {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255,255,255,.6);
}

/* フィルターバー */
.filterWrapper {
  padding-bottom: 30px;
  display: flex;
  gap: 10px;
}
.filterBtn {
  border: 1px solid #000;
  padding: 10px 30px;
  cursor: pointer;
}
.filterBtn:hover {
  background-color: #000;
  color: #fff;
}
.selected {
  background-color: #000;
  color: #fff;
}

/* タスク一覧 */
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li {
  padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255,255,255,.6);
  position: relative;
}
.taskDone {
  background-color: rgba(180,180,180,.3);
}

/* タスク内容表示 */
/* 上部 */
.upperWrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 350px;
  padding-bottom: 10px;  
  font-size: 20px;
  font-weight: bold;
}
.editDelete {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.editDelete > div {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  padding-left: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.editDelete > div:hover {
  background-color: #fff;
  background-color: rgba(0,0,0,0);
  color: #000;
}
/* 中部 */
.caption {
  font-size: 16px;
}
/* 下部 */
.bottomWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.limit {
  margin-left: -10px;
  padding: 6px 12px 0px;
  /* border-radius: 15px; */
  font-size: 16px;
  background-color: rgba(241,89,34,.9);
}
.limitDone {
  background-color: rgba(100,100,100,.5);
}
/* 削除確認 */
.deleteConfirm {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.confirmText {
  color: #fff;
}
.confirmBtns {
  display: flex;
  gap: 8px;
}
.yesBtn {
  border: 1px solid #dd436b;
  background-color: #dd436b;
}
.yesBtn:hover {
  background-color: rgba(0,0,0,0);
  color: #dd436b;
}

/* トップまでスクロール */
.topBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 40px;
}
